<nav class="<%= className('site-nav', 'module') %>">
  <div class="<%= className('site-nav', 'inner-wrapper') %>">
    <a href="/" class="<%= className('site-nav', 'branding') %>">{{ site.title }}</a>
    <div class="<%= className('utils', 'flex-spacer') %>"></div>
    <ul class="<%= className('site-nav', 'menu') %>">
      {% for p in site.pages %}
        {% if p.url != '/' %}
        <li>
          <a href="{{ p.url }}" {% if p == p.url %}class="<%= className('site-nav', 'active-link') %>"{% endif %}>
            {{ p.title }}
          </a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>
