<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--{{include.size}}-col <%= className('ad', 'module-event') %>">
  <div class="mdl-card__title mdl-card--expand <%= className('ad', 'title') %>">
    <h4>
      Featured event:<br>
      May 24, 2016<br>
      7-11pm
    </h4>
  </div>
  <div class="mdl-card__actions mdl-card--border <%= className('ad', 'actions') %>">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect <%= className('ad', 'button') %>">
      Add to Calendar
    </a>
    <div class="mdl-layout-spacer"></div>
    <i class="material-icons <%= className('ad', 'material-icons') %>">event</i>
  </div>
</div>
